# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# venv
.venv/

# Distribution
build/
dist/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.ruff_cache/

# Env
.env

# IDE
.vscode/
.idea/

# Claude
.claude
